$headerHeight: 50px;

.header{
    height: $headerHeight;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.left {
    line-height: $headerHeight;
    display: flex;
    align-items: center;
    img {
        height: 32px;
    }
}

.right {
    line-height: $headerHeight;
    display: flex;
    gap: 12px;
}