.wrap {
    position: relative;
    margin: auto auto 12px;
    height: calc((100vw - 32px)* .5625);
    width: calc(100vw - 32px);
    border-radius : 8px;
    overflow: hidden;
    
    
}
.audio {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 10;
}
.video {

}