.topListContent {
  width: 80%;
  border: 1px solid #fff;
  border-radius: 6px;
  display: inline-flex;
  margin-right: 12px;
  height: 100%;
  padding: 12px;
  flex-direction: column;
  gap: 12px;

  h2 {
    font-size: 20px;
  }

  ul {
    li {
      margin-bottom: 8px;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}