.topListContent {
  width: 80%;
  border: 1px solid #fff;
  border-radius: 6px;
  display: inline-flex;
  margin-right: 12px;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;

  h2 {
    font-size: 20px;
  }

  ul {
    li {
      margin-bottom: 8px;
      display: flex;
      gap: 8px;
      align-items: center;
      overflow: hidden;

      img {
        width: 50px;
        height: 70px;
        border-radius: 6px;
      }

      p {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span:nth-child(2) {
          font-size: 12px;
          display: flex;
          gap: 4px;

          span {
            color: #b07215;
            background-color: #c0954c33;
            display: flex;
            padding: 4px 8px;
            border-radius: 20px;
            align-items: center;
            font-size: 12px;
            gap: 4px;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }

        span:nth-child(3) {
          font-size: 12px;
          color: #8a8a8a;
        }
      }
    }
  }
}