.search {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
}

$searchTopHeight: 50px;

.searchTop {
  width: 100%;
  height: $searchTopHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .searchInput {
    border-radius: 20px;
    background-color: #242424;
    color: #f2f4f5;
    border: none;

    &:focus-within, &:hover {
      background-color: #242424;
      box-shadow: none;
      border: none;
    }

    :global {
      .ant-input-clear-icon {
        color: #f2f4f5;
      }
    }
  }
}

.cancel {
  display: flex;
  text-align: right;
  line-height: $searchTopHeight;
  white-space: nowrap;
}