.search {
  display: flex;
  padding-left: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  height: 100%;
  background-color: #000;
  gap: 12px;
}

$searchTopHeight: 50px;

.searchTop {
  width: 100%;
  height: $searchTopHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-right: 16px;

  .searchInput {
    border-radius: 20px;
    background-color: #141414;
    color: #f2f4f5;
    border: none;

    &:focus-within, &:hover {
      background-color: #141414;
      box-shadow: none;
      border: none;
    }

    :global {
      .ant-input-clear-icon {
        color: #f2f4f5;
      }
    }
  }
}

.cancel {
  display: flex;
  text-align: right;
  line-height: $searchTopHeight;
  white-space: nowrap;
}

.topContent {
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  flex: 1;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.historyListTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.historyListUl {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.historyListLi {
  padding: 4px 12px;
  height: 32px;
  border-radius: 16px;
  background-color: #141414;
  color: #fff;
}