.videoWrap {
    padding-left: 14px;
    
    padding-right: 14px;
    margin-top: 18px;

}
.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    
    
}
.item {
    width: calc(50% - 4px);
    border-radius: 2px;
    overflow: hidden;
    > img {
        width: 100%;
    }
}

.skeleton {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    :global {
        .ant-skeleton {
            width: calc(50% - 4px) !important;
                border-radius: 2px;
        }
        .ant-skeleton-image {
            width: 100% !important;
            > img {
                width: 38%;
                filter: grayscale(0.3);
            }
        }
    }
    
}
