.video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    video {
        width: 100% !important;
        height: 100% !important;
    }
        :global {
            .xgplayer-playing {
                .xgplayer-poster {
                    display: none;
                }
            }
            .xgplayer-poster {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-size: 100% 100%;
            }
        }
}
